<div class="container" *ngIf="rentList">
  <div class="tile" *ngFor="let rent of rentList">
      <div class="row main">
            <div class="left-part-card-rent col-5">
                <div>
                    <h4 class="hotel-name">{{rent.name}}</h4>
                    <h6 class="hotel-address"><i class="fa fa-map-marker"></i> {{rent.address}}, {{ rent.cityDTO.name }}, {{rent.cityDTO.countryDTO.name}}</h6>
                </div>
            </div>  
            <div class="col-4 table-div">
                <div class="description">
                  <p>{{rent.description}}</p>
                </div>
            </div>
            <div class="right-part-card-rent col-2 table-div">
                <div class="btn-see h-100">
                  <a class="btn btn-primary" [routerLink]="['/rent', rent.id]" id="details">See details</a>
                </div> 
            </div>
        </div>
  </div>
</div>
<h3 *ngIf="emptyRentList">There are no rent-a-car services in the system.</h3>


