<div class="container" >
    <h2>Branch office administration</h2>
    <button class="btn btn-primary btn-rent" (click)="onAddBranch()">Add branch</button>
    <!--Modal-->
    <div class="modal" *ngIf="showFormDialog">
      <div class="modal-content">
        <div>
          <button class="close" (click)="onCloseForm()">&times;</button>
        </div>
        <app-branch-form (branchSubmit)="branchSubmitted($event)"></app-branch-form>
      </div>
    </div>


    <div *ngIf="branchList">
      <div class="table-responsive">
      <table class="table table-hover" id="lista">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Branch name</th>
            <th scope="col">Branch address</th>
            <th scope="col">Branch city</th>
            <th scope="col">Branch country</th>
            <th scope="col">Branch description</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let branch of branchList">
                <th scope="row">{{ branch.id }}</th>
                <td><a [routerLink]="">{{ branch.name }}</a></td>
                <td>{{ branch.address }}</td>
                <td>{{ branch.city }}</td>
                <td>{{ branch.country }}</td>
                <td>{{ branch.description }}</td>
                <td style="width:10px"><button class="btn btn-link"><i class="fa fa-pencil"></i>Edit</button></td>
                <td style="width:10px"><button class="btn btn-link"><i class="fa fa-trash"></i>Delete</button></td>
                <td style="width:10px"> <button  class="btn btn-link"><i class="fa fa-bars"></i>Vehicles</button></td>
              </tr>
            </tbody>
      </table>
      </div>
    </div>
      <h3 *ngIf="emptyBranchList">There are no branch offices for this service in the system.</h3>
  </div>
