
<form (ngSubmit)="onSubmitAvio(f1)" #f1="ngForm">
  <h2>Insert Avio Company:</h2>

  <div class="form-group">
    <label for="name">Name: </label>
    <input type="text" id="name" name="name" ngModel class="form-control" required>
  </div>

  <div class="form-group">
    <label for="description">Promo description: </label>
    <textarea id="description" name="description" ngModel class="form-control" rows="4" required></textarea>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-success" [disabled]="!f1.valid">Save to database</button>
    <button type="button" (click)="onReset(f1)" class="btn btn-primary">Reset</button>
  </div>

  <div class="form-group">
      <input list="destinations" name="browser">
      <datalist id="destination">
        <option value="Internet Explorer">
        <option value="Firefox">
        <option value="Chrome">
        <option value="Opera">
        <option value="Safari">
      </datalist>
      <input type="submit">
  </div>
</form>   
  