.fa-star {
    color: rgb(255, 230, 7);
    font-size: 15px;
    margin-left: 5px;
}

.fa-star:first-child {
    margin-left: 5px;
}

.right-part-card {
    position:relative;
}

.dugmeDetails {
    position: absolute;
    right: 30px;
    top: 190px;
}

.rating {
    position: absolute;
    right: 50px;
    top: 30px;
}

.rate_circle {
    width: 2.8rem;
    height: 2.7rem;
    font-size: 1rem;
    padding: 14px;
    border-radius: 50%;
    font-weight: 600;
    color: white;
    background-color: rgb(36, 163, 36);
}