<section id="section-tiles" *ngIf="hotelList">
  <div class="container">
    <div class="row" *ngFor="let hotel of hotelList">
        <div class="tile">
            <div class="card-inside">
              <div class="left">
                  <img class="image-card" alt="Hotel image" src="{{hotel.imageURL}}" width="300px" height="252px">
              </div>
              <div class="right">
                  <h4 class="hotel-name">{{hotel.name}}</h4>
                  <h6 class="hotel-address">{{hotel.address}}</h6>
              <p class="card-text">{{hotel.description}}<br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam esse fugit repudiandae nemo tempore, aperiam eius? Esse, deserunt porro laudantium vitae voluptas ratione nobis error! Repellat, quisquam! Recusandae, sunt fugit.</p>
              <a class="btn btn-primary" [routerLink]="[hotel.id]">See details</a>
              </div>      
            </div>
          </div>
    </div>
  </div>
</section>

<h3 *ngIf="emptyHotelList">There are no hotels in the system.</h3>
