.tile {
    border: 1px solid rgb(194, 197, 194);
    border-radius: 10px;
    margin: 20px 0px;
}
.image-card {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.left {
    float:left;
    margin-right: 20px;
}

.right {
    padding-top:20px;
    padding-right: 10px;
}