.fa-star {
    color: rgb(255, 230, 7);
    font-size: 15px;
    margin-left: 5px;
}

.fa-star:first-child {
    margin-left: 5px;
}

.right-part-card {
    position:relative;
}

.dugmeDetails {
    position: absolute;
    right: 30px;
    top: 190px;
}