

	<div class="s-plane">
		
		<div class="s-head">

			<div class="pick-msg" *ngIf="selectedSeats.length < numberOfPeople">Please pick your seats</div>
			
			

			<div class="pick-selected" *ngIf="selectedSeats.length == numberOfPeople" (click)="onProceed()">
				Proceed with selected seats <i class="fa fa-arrow-right" aria-hidden="true"></i>
			</div>
		</div>
		
		<div class="s-body">

			<div class="seat" *ngFor="let s of seats; let i = index" 
			 [ngClass] = "{'s-margin-right': s.place === 'C',  's-margin-left': s.place === 'D',
							'seat-free': !s.reserved, 
							'seat-reserved': s.reserved, 
							'seat-selected': s.selected === true }"
			(click)="onReserveSeat(i)"
			>

				<span  class="seat-text">{{ s.row }}{{ s.place }}</span>

			</div>


		</div>
		
		<div class="s-tail"></div>
		
	</div>

