h2 {
    margin-top: 20px;
}

h4 {
    text-align: center;
    margin-top: 20px;
}

.modal-content {
    width: 35%;
}

td {
    text-align: left; 
    vertical-align: middle;
}

th[scope="row"] {
    vertical-align: middle;
}

.klasa {
 width: 45%;
 border-right: 1px solid lightgray;
 float: left;
}

.klasaB {
 width: 45%;
 float: right;
}

.form-control {
    width: 95%;
}

.dugme {
    float: right;
    margin-right: 5px;
}

.dodajBonusDiv {
    border-radius: 10px;
    margin-top: 15px;
    padding: 10px;
}

.table {
    margin-left: 20px;
}

.pnts {
    font-size: 13px;
    color: red;
}