<div class="container" >
  <h2>Avio Administrator</h2>

  <button type="button" class="btn btn-primary" id="addAvio" (click)="onInsertAirline()">
    Add airline
  </button>
  
    <div class="form-modal" *ngIf="showFormDialog">
      <div class="modal-content">
        <div class="modal-body">
            <button type="button" class="close" (click)="onCloseForm()">
                <span aria-hidden="true">&times;</span>
              </button>
          <app-sys-avio-form (avioSubmit)="avioSubmitted($event)"></app-sys-avio-form>
        </div>
      </div>
    </div>
      
    <img appLoading *ngIf="!avioList">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let avio of avioList" >
            <th scope="row">{{ avio.id }}</th>
            <td><a [routerLink]="[avio.id]">{{ avio.name }}</a></td>
            <td>{{ avio.description }}</td>
            <td><button class="btn btn-link" (click)="onDeleteAvio(avio.id)"><i class="fa fa-trash"></i> Delete</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    <h3 *ngIf="emptyAvioList">There are no airline companies in the system.</h3>
</div>