<div class="container">
  <div *ngIf="rent">
    <div class="basic_info">
      <div class="content">
        <div class="naslov">
            <h2>{{rent.name}} </h2>
            <h6><i class="fa fa-map-marker"></i> {{rent.address}}, {{rent.cityDTO.name}}, {{rent.cityDTO.countryDTO.name}}</h6>
        </div>
        
        <div class="rating">
          <h5>Rating</h5>
          <span class="rate_circle"></span>
        </div><hr>

        <h5>Description</h5>
        <p>{{rent.description}}</p>

        <div class="branches">
          <h5 (click)="onToggleBranch()"><i
            class="fa fa-arrow-right" aria-hidden="true" 
            [ngClass] = "{'fa-arrow-right':arrows[i] === false,  'fa-arrow-down':arrows[i]  === true }" 
          ></i> Branches</h5>
          <!-- <div *ngFor>
            <div class="table-responsive" *ngIf="arrows[i]">
              <table class="table" >
                <tbody>
                  <tr *ngFor="let city of country.cities" >
                    <td>{{ city.name }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div> -->
        </div>

        <div class="map" id="mapa" *ngIf="!map">
          <h5>Location</h5>
          <iframe [src]="sanitizer.bypassSecurityTrustResourceUrl(rent.map)" width="45%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>