.card-container {
    display: flex;
    background: rgb(245, 245, 245);
    border: 1px solid #b5b5b58c;
    border-radius: 15px;
    width: 100%;
    height: 200px;
    padding: 15px 20px;
    margin-bottom: 20px;
    
    box-shadow: 0px 2px 3px rgba(0,0,0,0.08);
    
    transition: all 0.3s;
}

.card-container:hover {
    background: rgb(253, 253, 253);
    transition: all 0.3s;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.17);
}

.card-general-info {

    display: flex;
    width: 73%;
    height: 100%;
    justify-content: space-evenly;
    flex: 0 0 auto;

}

.card-right-info {

    display: flex;
    flex-direction: column;
    width: 27%;
    height: 100%;
    border-left: 1px solid #b5b5b5;
    margin-left: 10px;
    padding-left: 10px;
}

.card-departure {

    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 10px;
    justify-content: space-between;
    width: 35%;

}

.card-dest {

    display: flex;
    align-items: center;
    height: 60%;
    justify-content: flex-start;

}

.card-dest-arrival {
    justify-content: flex-start;
}

.card-date {
    font-size: 20px;
    display: flex;
    flex-direction: column;
}

.date {

}

.time {
    font-size: 30px;
    font-weight: 600;

}

.card-icon {
    font-size: 43px;
    opacity: 0.8;
}

.card-place {
    display: flex;
    flex-direction: column;
    width: auto;
}

.card-city {
    font-size: 26px;
    font-weight: 500;
    line-height: 1.1;
}

.card-country {
    font-size: 20px;
    opacity: 0.8;
    line-height: 1;
    text-transform: uppercase
    
}

.card-trip {

    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin-left: -35px;
    
}


.card-trip-duration {
    font-size: 21px;
    line-height: 1.1;
    font-weight: 500;

}

.card-trip-arrow {
    font-size: 55px;
    color: rgb(0, 0, 0);
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #f8f8f8;
    line-height: 1.3;
    transform: rotateZ(22deg);


}

.card-trip-interceptions {
    font-size: 15px;
    
    line-height: 1.1;
}

.card-seats {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(17, 94, 17);
    font-size: 17px;

}

.card-price {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: green;
    color: white;
    border-radius: 9px;
    font-size: 22px;
    font-weight: 700;
    height: 13px;
    margin: 0 50px;

}

.card-reserve {

    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    color: rgb(9, 161, 47);
    transition: all .6s;


}

.card-right-info:hover {
    cursor: pointer;
}

.card-right-info:hover ~ .card{
    cursor: pointer;
}


.card-right-info:hover .card-reserve {

    color: rgb(5, 185, 35);
    cursor: pointer;
    transform: scale(1.15);
    transition: all .6s;
}

.fa-arrow-circle-o-right {
    transform: translateY(5px);
    font-size: 22px;
    
}




.fa-plane-rotate {
    transform: rotateZ(80deg);
}