h2 {
    text-align: center;
    padding-top: 20px;
}

h5 {
    text-align: center;
    margin-bottom: 50px;
}

.fa-star {
    color: rgb(255, 230, 7);
    font-size: 20px;
    margin-top: -15px;
}

.fa-star:not(:first-child) {
    margin-left: 4px;
}

.slika {
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    height: 400px;
    width: 100%;
}

.basic_info {
    background-color: white;
}

.content {
    padding: 15px;
}