<div class="container">
  <div class="row" id="slika">

  </div>
  <div class="info">
    <div class="nameaddress">
      <h4>{{hotel.name}}</h4>
      <p style="margin-top: -10px;"><span *ngIf="hotel.stars === 5"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></span>
        <span *ngIf="hotel.stars === 4"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></span>
        <span *ngIf="hotel.stars === 3"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></span>
        <span *ngIf="hotel.stars === 2"><i class="fa fa-star"></i> <i class="fa fa-star"></i></span>
        <span *ngIf="hotel.stars === 1"><i class="fa fa-star"></i></span></p>
      <p><i class="fa fa-map-marker"></i> {{hotel.address}}</p>
    </div>
  </div>
  <div class="row">
    <h6>Description:</h6>
    <p>{{hotel.description}}</p>
    <p>{{hotel.imageURL}}</p>
  </div>
</div>
