<div class="container">
  <div *ngIf="slika" class="slika" id="slika" [ngStyle]="currentStyles"></div>
  <div *ngIf="hotel">
    <div class="basic_info">
      <div class="content">
        <div class="gore">
            <h2>{{hotel.name}} </h2><p style="text-align:center"><span *ngIf="hotel.stars === 5"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></span>
              <span *ngIf="hotel.stars === 4"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></span>
              <span *ngIf="hotel.stars === 3"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></span>
              <span *ngIf="hotel.stars === 2"><i class="fa fa-star"></i> <i class="fa fa-star"></i></span>
              <span *ngIf="hotel.stars === 1"><i class="fa fa-star"></i></span></p>
              <h6><i class="fa fa-map-marker"></i> {{hotel.address}}, {{hotel.cityDTO.name}}, {{hotel.cityDTO.countryDTO.name}}</h6>
        
              <div class="admin">
                  <button type="button" class="btn btn-primary" [routerLink]="['/hotel/admin', hotel.id]">Administrate</button>
                </div>
            </div>
        
        <div class="row">
          <div class="description col-lg-8">
            <h5>Description</h5>
          <p>{{hotel.description}}</p>
          </div>

          <div class="rating col-lg-3">
            <h5>Rating</h5>
            <span class="rate_circle"></span>
          </div>
        </div><hr>

        <div class="services">
          <h5>Services</h5>
          <div *ngIf="!emptyServicesList">
            <div class="cont hideCont" [ngClass] = "{'showCont':hideServ === false,  'hideCont':hideServ  === true }">
              <div class="tabSer">
                <table class="tabela">
                  <tbody>
                    <tr *ngFor="let ser of hotel.services">
                      <td>{{ser.name}}</td>
                      <td>{{ser.price}}€</td>
                      <td>per {{ser.charge}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="show-more">
              <button class="btn btn-light" (click)="onShowMore()">{{ShowText}}</button>
            </div>
          </div>
          <p *ngIf="emptyServicesList">This hotel provides no additional services.</p>
        </div>

        <div class="rooms">
          <h5>Room options</h5>
          <div *ngIf="!emptyRoomList">
              <div class="table">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                          <th>Name</th>
                          <th>Number of beds</th>
                          <th>Capacity</th>
                          <th>Floor</th>
                          <th>Balcony</th>
                          <th>Price per night</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let room of hotel.rooms">
                        <td>{{room.name}}</td>
                        <td>{{room.beds}}</td>
                        <td>{{room.people_capacity}} persons</td>
                        <td>{{room.floor}}</td>
                        <td>{{room.balcony}}</td>
                        <td>{{room.price}} €</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
          </div>
          <p *ngIf="emptyRoomList">This hotel has no rooms yet.</p>
        </div>

        <div class="map" id="mapa" >
          <h5>Location</h5>
          <div *ngIf="!map">
            <iframe [src]="sanitizer.bypassSecurityTrustResourceUrl(hotel.map)" width="45%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
          <div *ngIf="map">
            Google map location was not provided
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
