<div class="container">
  <div class="sidenav">
      <a class="home" routerLink="/">Fly Live Drive</a>
    <div class="navContent">
      <a routerLinkActive="active" routerLink="/systemadmin/avio">Avio</a>
      <a routerLinkActive="active" routerLink="/systemadmin/hotels">Hotels</a>
      <a routerLinkActive="active" routerLink="/systemadmin/rent">Rent-A-Car</a>
      <a routerLinkActive="active" routerLink="/systemadmin/users">Admins/Bonuses</a>
    </div>
  </div>
  <div class="main">
    <router-outlet></router-outlet>
  </div>
</div>