<div class="container h-70 form">
  <div class="row justify-content-center align-items-center w-100">
    <form class="form-area w-100" (ngSubmit)="onSubmitSearch()" [formGroup]="searchForm">
        <div class="row">
          <div class="form-group col-5">
              <label>Choose country: </label>
              <div class="input-group mb-2">    
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fa fa-flag"></i></div>
              </div>
              <select class="form-control" name="country" required
                      (change)="onChangeCountry($event)" formControlName="country">
              <option *ngFor="let c of countryList" [value]="c.id">{{c.name}}</option>
              </select>
            </div>
          </div>
          <div class="form-group col-5">
            <label>Choose city: </label>
            <div class="input-group mb-2">    
            <div class="input-group-prepend">
              <div class="input-group-text"><i class="fa fa-building-o"></i></div>
            </div>
            <select class="form-control" formControlName="city" required> 
              <option selected hidden></option>
              <option *ngFor="let city of cityList" [value]="city.id">{{ city.name }}</option>
            </select>
          </div>
        </div>
        </div>
    <div class="row">
        <div class="form-group col-5">
          <label>Choose pick-up date: </label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
              </div>
              <input type="date" class="form-control" required formControlName="pickUpDate">
        </div>
        </div>
        <div class="form-group col-5">
            <label>Choose drop-off date: </label>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
              <input type="date" required class="form-control" formControlName="dropOffDate">
              </div>
          </div>
      </div>
      <div class="row">
          <div class="form-group col-5">
            <label>Choose pick-up time: </label>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-clock-o"></i></div>
                </div>
                <select class="form-control" required formControlName="pickUpTime">
                  <option selected hidden></option>
                  <option *ngFor="let t of time" [value]="t">{{ t }}</option>
                </select>
          </div>
          </div>
          <div class="form-group col-5">
              <label>Choose drop-off time: </label>
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fa fa-clock-o"></i></div>
                  </div>
                  <select class="form-control" required formControlName="dropOffTime">
                    <option selected hidden></option>  
                    <option *ngFor="let t of time" [value]="t">{{ t }}</option>
                  </select>
                </div>
            </div>
            <div class="col-10">
              <span *ngIf="!dateValid" class="text-danger" >Pick up date and time must be at least 60 minutes before drop off.</span>
              <br>
              <span *ngIf="!dateSet" class="text-danger">You must set the date and time for pick up and drop off.</span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-5">
                <label>Number of seats: </label>
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                      <div class="input-group-text"><img src="/src/img/seat.png"></div>
                    </div>
                  <select class="form-control" formControlName="numberOfSeats">
                    <option selected hidden></option>
                    <option>2</option>
                    <option>5</option>
                    <option>9</option>
                  </select>
                  </div>
              </div>

              <div class="form-group col-5" *ngIf="showDropOff">
                <div class="animate">  
                <label>Choose drop-off: </label>
                  <div class="input-group mb-2">    
                  <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fa fa-building-o"></i></div>
                  </div>
                  <select class="form-control" formControlName="dropOff"> 
                    <option selected hidden></option>
                    <option *ngFor="let city of cityList" [value]="city.id">{{ city.name }}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
              <div class="col form-group">
                <button type="submit" class="btn btn-primary" [disabled]="!searchForm.valid">Search</button>
                <button type="button" (click)="onReset()" class="btn btn-danger">Reset</button>
              </div>
              <div class="form-froup col">
                  <label style="padding-right:10px">Drop off car at different location</label> <input type="checkbox" (click)="toggleShowDropOff()">
              </div>
            </div>
    </form>
  </div>
  <hr>
  </div>
  <!-- VEHICLE LIST -->
  <div class="container" *ngIf="noResult" style="text-align:center"> <h2>There are no results for this search.</h2> </div>
  <div class="container" *ngIf="vehicleList">
        <div class="tile-search" *ngFor="let vehicle of vehicleList">
            <div class="row main">
              <div class="left-part-card-search col-3">
              <div class="info">
                  <h4> {{ vehicle.brand }} </h4>
                  <h6> {{ vehicle.model }} </h6>
              </div>
                  <div class="ocena">
                      Rating
                  </div>
              </div>
              <div class="col-3 table-div">
                <div class="icons">
                  <span><i class="fa fa-car"></i> {{ vehicle.type }} </span>
                  <span> <img src="/src/img/seat.png"> {{ vehicle.numberOfSeats}}</span> <br>
                  <span> <i class="fa fa-wrench"></i> {{vehicle.productionYear}} </span>
                  <span><i class="fa fa-map-marker"> {{ vehicle.filijalaDTO.address }}</i></span>
                </div>
                </div>

              <div class="right-part-card-search col-3">
                  <p class="hotel-name">Total price: </p>
                  <h4><b>{{ vehicle.pricePerDay * duration}}</b>  <b>€</b></h4>
                </div> 
              <div class="col-1 table-div">
                <div class="icons">
                  <button class="btn btn-primary" style="float: right" (click)="onReserveVehicle(vehicle.id)">Reserve vehicle</button>
                </div>
              </div>
            </div>
  </div>
</div>

