.form{
    padding-top: 5%;
    background-color: white;
}

.form-area{
    padding-left:10%
}

.table-div{
    display: table;
    height: 100%;
}
.icons{
    display: table-cell;
    vertical-align: middle;
}

.tile-search {
    border: 1px solid rgb(202, 204, 202);
    border-radius: 11px;
    margin: 5px 0px;
    background-color: white;
    width: 100%;
    box-shadow: 0 1px 3px 0 rgba(37,32,31,.3);
    border-radius: .375rem;
    transition: 0.2s;
}

.tile-search:hover {
    transition: 0.2s;
    box-shadow: 1px 3px 6px 1px rgba(37,32,31,.3);
}


.main{
    margin-top: 10px;
    height: 150px;
    padding-left:10px;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
     -ms-animation: fadein 2s; /* Internet Explorer */
      -o-animation: fadein 2s; /* Opera < 12.1 */
         animation: fadein 2s;
}

.left-part-card-search {
    float:left;
    min-width: 300px;
    height: 100%;
}

.right-part-card-search {
    height: 100%;
    padding-top:20px;
    width: 100%;
}

.animate{
    opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.5s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
     
      