#main-part {
    padding-top: 40%;
}

.section-parallax {
    text-align: center;
    background: url(/src/img/nature.jpg) center repeat fixed;
    padding: 120px 0;
    background-size: cover;
    color: white;
    position: absolute;
    width: 100%;
    left: 0;
}