#main-part {
    padding-top: 40%;
}

.section-parallax {
    text-align: center;
    background: url(/src/img/nature.jpg) center repeat fixed;
    padding: 120px 0;
    background-size: cover;
    color: white;
    position: absolute;
    width: 100%;
    height: 52%;
    left: 0;
}

#pretrazi { /* id za dugme pretrage */
    float: right;
    margin: 35px 90px 0px 0px;
}

.center { /* klasa celog reda tj. kontejnera u kojem se nalaze elementi */
    text-align: center;
    margin-top: 0.8%;
}

input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}
.unos {
    height: 40px;
}
.srcbar {
    margin-left: 5px;
}

.fa-star {
    color: rgb(255, 230, 7);
    font-size: 15px;
    margin-left: 5px;
}

.fa-star:first-child {
    margin-left: 5px;
}

.right-part-card {
    position:relative;
}

.dugmeDetails {
    position: absolute;
    right: 30px;
    top: 190px;
}

.rating {
    position: absolute;
    right: 50px;
    top: 30px;
}

.rate_circle {
    width: 2.8rem;
    height: 2.7rem;
    font-size: 1rem;
    padding: 14px;
    border-radius: 50%;
    font-weight: 600;
    color: white;
    background-color: rgb(36, 163, 36);
}