<button type="button" class="btn btn-primary" (click)="onToggleUsers()">Show users</button>

<div *ngIf="showUsers">

  <p *ngFor="let u of users">
    {{ u.username }} ( {{u.firstname}} {{ u.lastname}} ), {{ u.email }}
  </p>
  
</div>

<form (ngSubmit)="onSubmitUser(f)" #f="ngForm">
  <div class="row">
    <div class="col-md-3">
      
      <h2>Insert user:</h2>

      <div class="form-group">
        <label for="username">Username: </label>
        <input type="text" id="username" name="username" ngModel class="form-control" required>
      </div>

      <div class="form-group">
        <label for="firstname">Firstname: </label>
        <input type="text" id="firstname" name="firstname" ngModel class="form-control" required>
      </div>

      <div class="form-group">
        <label for="lastname">Lastname: </label>
        <input type="text" id="lastname" name="lastname" ngModel class="form-control" required>
      </div>

      <div class="form-group">
        <label for="email">Email: </label>
        <input type="email" id="email" name="email" ngModel class="form-control" required>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-success" [disabled]="!f.valid">Save to database</button>
        <button type="button" (click)="onReset(f)" class="btn btn-danger">Reset</button>
      </div>
          
    
    </div>
  </div>

</form>

<form (ngSubmit)="onSubmitAvio(f1)" #f1="ngForm">
    <div class="row">
      <div class="col-xs-3">
        
        <h2>Insert Avio Company:</h2>

        <div class="form-group">
          <label for="name">Name: </label>
          <input type="text" id="name" name="name" ngModel class="form-control" required>
        </div>
  
        <div class="form-group">
          <label for="description">Promo description: </label>
          <input type="text" id="description" name="description" ngModel class="form-control" required>
        </div>
  
        <div class="form-group">
          <button type="submit" class="btn btn-success" [disabled]="!f1.valid">Save to database</button>
          <button type="button" (click)="onReset(f1)" class="btn btn-danger">Reset</button>
        </div>
            
      
      </div>
    </div>
  
  </form>