<div class="container">
        <div class="row">
            <form (ngSubmit)="onSubmitHotel(f)" name="addhotelForm" #f="ngForm">
                <h2>Insert a new Hotel</h2>
                <hr>
                <div class="row">
                  <div class="col-lg form-group">
                    <label for="name">Name: </label>
                    <input type="text" id="name" name="name" placeholder="Hotel name" ngModel class="form-control" required>
                  </div>
                  <div class="col-md-2 form-group">
                      <label for="stars">Stars: </label>
                      <select name="stars" id="stars" class="form-control" style="border-right: 1px solid #ccc; padding-right: 3px;" [(ngModel)]="noStars">
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                      </select>
                    </div>
                </div>
    
               <div class="row">
                  <div class="col form-group">
                    <label for="address">Address: </label>
                    <input type="text" id="address" name="address" placeholder="Address" ngModel class="form-control" required>
                  </div>
                  <div class="col form-group">
                    <label for="countryId">Country:</label>
                    <select class="form-control"  id="countryId"
                            required
                            name="countryId" ngModel
                            (change)="onChangeCountry($event)">
                      <option *ngFor="let c of countryList" [value]="c.id">{{c.name}}</option>
                    </select>
                 </div>
                 <div class="col form-group">
                  <label for="cityId">City:</label>
                  <select class="form-control"  id="cityId"
                          required
                          name="cityId" ngModel >
                    <option *ngFor="let city of cityList" [value]="city.id">{{city.name}}</option>
                  </select>
                </div>
               </div>
               
               <div class="row">
                  <div class="col form-group">
                    <label for="image">Image URL: </label>
                     <input type="text" id="himageURL" name="himageURL" placeholder="http://..." ngModel class="form-control">
                  </div>
               </div>
               
               <div class="row">
                <div class="col form-group">
                  <label for="map">Address on map: </label>
                   <input type="text" id="map" name="map" placeholder="from google maps" ngModel class="form-control">
                </div>
               </div>
                
                <div class="row">
                    <div class="col form-group">
                      <label for="description">Promo description: </label>
                      <textarea type="text" id="description" name="description" placeholder="Hotel description" ngModel class="form-control" rows="4"></textarea>
                    </div>
                </div>
                
                <div class="row">
                  <div class="col form-group">
                    <button type="submit" class="btn btn-success" [disabled]="!f.valid">Save</button>
                    <button type="button" (click)="onReset(f)" class="btn btn-danger">Reset</button>
                  </div>
                </div>
              </form>
        </div>
    </div>