@import "~font-awesome/css/font-awesome.css";

.btn {
    margin-right: 5px;
}

[appLoading] {
    position: fixed;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

div[class*="col-"] {
    margin-right: 30px;
}

body {
    background-color: #f3f2f5;
}


/* kada zelite da stavite custom image samo u svom delu stavljate
.section-parallax {
    text-align: center;
    background: url(/src/img/nature.jpg) center repeat fixed;
    padding: 120px 0;
    background-size: cover;
    color: white;
    position: absolute;
    width: 100%;
    left: 0;
}
    stavljajte celu klasu u .css da ne bi morali sliku da skaliramo...*/

/* KOD ZA KATRICE */
.tile {
    border: 1px solid rgb(202, 204, 202);
    border-radius: 10px;
    margin: 5px 0px;
    background-color: white;
    width: 100%;
}

.image-card {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.left-part-card {
    float:left;
    margin-right: 20px;
}

.right-part-card {
    padding-top:20px;
    padding-right: 10px;
    width: 100%;
}
.details-btn-card {
    text-align: right;
    position: relative;
    top: 60px;
}
#details {
    margin-right:20px;
    width: 130px;
}
.card-text {
    margin-top: 25px;
}

/* KOD SA SEARCH BAR */

.unos {
    padding: 10px;
    border: 1px solid lightgray;
    display: block;
}
.lbl {
    display: block;
}
.divs {
    float: left;
}
#search { /* id za textfield */
    width: 400px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
#check-in, #check-out { /* id za datepicker */
    width: 170px;
    padding: 9px;
}
#soba, #br-gostiju {  /* id za select tag */
    width: 100px;
    padding-bottom: 11px;
}
#soba {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
#pretrazi { /* id za dugme pretrage */
    float:right;
    margin: 35px 90px 0px 0px;
}
.center { /* klasa celog reda tj. kontejnera u kojem se nalaze elementi */
    text-align: center;
}
input:not(:last-child), select:not(:last-child) {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
input:not(:first-child), select:not(:first-child) {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-right-color: transparent;
}
select {
    border-left: 0px transparent;
    border-right: 0px transparent;
}