@import "~font-awesome/css/font-awesome.css";

.btn {
    margin-right: 5px;
}

[appLoading] {
    position: fixed;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

div[class*="col-"] {
    margin-right: 30px;
}

body {
    background-color: #f3f2f5;
}


/* kada zelite da stavite custom image samo u svom delu stavljate 
.section-parallax {
    background: url(/src/img/vasaslika.jpg) bottom repeat fixed;
}
*/
.section-parallax {
    text-align: center;
    background: url(/src/img/nature.jpg) center repeat fixed;
    padding: 120px 0;
    background-size: cover;
    color: white;
    position: absolute;
    width: 100%;
    left: 0;
}

/* KOD ZA KATRICE */
.tile {
    border: 1px solid rgb(202, 204, 202);
    border-radius: 10px;
    margin: 5px 0px;
    background-color: white;
    width: 100%;
}

.image-card {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.left-part-card {
    float:left;
    margin-right: 20px;
}

.right-part-card {
    padding-top:20px;
    padding-right: 10px;
    width: 100%;
}
.details-btn-card {
    text-align: right;
    position: relative;
    top: 60px;
}
#details {
    margin-right:20px;
    width: 130px;
}
.card-text {
    margin-top: 25px;
}