.section-parallax {
    text-align: center;
    background: url(/src/img/car.jpg) center repeat fixed;
    padding: 100px 0;
    background-size: cover;
    color: white;
    position: absolute;
    width: 100%;
    height: 52%;
    left: 0;
}

#pretrazi { /* id za dugme pretrage */
    float:right;
    margin: 35px 250px 0px 0px;
}
.center { /* klasa celog reda tj. kontejnera u kojem se nalaze elementi */
    margin-top: 0.8%;
}

#main-part {
    padding-top: 50%;
}

.rate_circle {
    width: 2.8rem;
    height: 2.7rem;
    font-size: 1rem;
    padding: 14px;
    border-radius: 50%;
    font-weight: 600;
    color: white;
    background-color: rgb(36, 163, 36);
}

.left-part-card-rent {
    float:left;
    padding-top: 5px;
    padding-left: 5px;
    min-width: 300px;
    height: 100%;
}

.right-part-card-rent {
    height: 100%;
    padding-top:20px;
    width: 100%;
}


.main{
    margin-top: 10px;
    height: 120px;
    padding-left:15px;
}

.table-div{
    display: table;
    height: 100%;
}

.btn-see{
    padding-bottom: 20px;
    display: table-cell;
    vertical-align: middle;
}

.description{
    display: table-cell;
    vertical-align: middle;
}