<section class="section-parallax" data-type="background" data-speed="4">
  <div class="container">
    <div class="row" class="center">
      <div class="d-flex justify-content-center">
      <div class="srcbar">
          <label for="search" class="lbl">Find deals</label>
          <input type="text" [(ngModel)]="rentName" #ctrl="ngModel" id="search" placeholder="Enter location or rent-a-car name" class="unos search">
      </div>
      <div class="srcbar">
          <label for="check-in" class="lbl">Pick up</label>
          <input type="date" id="check-in" name="check-in" class="unos check-in" [ngModel]="today">
      </div>
      <div class="srcbar">
          <label for="check-out" class="lbl">Return</label>
          <input type="date" id="check-out" name="check-in" class="unos check-out" [ngModel]="tomorrow">
      </div>
    </div>
  </div>
    <div class="row" id="pretrazi">
      <button class="btn btn-primary" [routerLink]="['/rent/administrateRents']" style="background-color: green; border-color: green; text-align: center;">Administration</button>
      <button class="btn btn-primary" (click)="onSearch()">Search services</button>
      <button class="btn btn-primary" (click)="onRefresh()">Refresh</button>
    </div>
  </div>
</section>



<div *ngIf="filter">
<div id="main-part" class="container">
  <div class="row" class="center">
    <h3 style="margin-bottom: 25px;">All services.</h3>
  </div>
  <div class="container" *ngIf="rentListFilter">
    <div class="row" *ngFor="let rent of rentListFilter">
        <div class="tile">
            <div class="card-inside">
              <div class="left-part-card">
                <img class="image-card" alt="Rent image" src="{{rent.rentImageURL}}" width="300px" height="253px" *ngIf="rent.rentImageURL != ''">
                <img class="image-card" alt="Rent image" src="/src/img/image_not_available.png" width="300px" height="253px" *ngIf="rent.rentImageURL == ''">
              </div>  
              <div class="right-part-card">
                  <div>
                  <h4 class="hotel-name">{{rent.name}}</h4>
                  <h6 class="hotel-address"><i class="fa fa-map-marker"></i> {{rent.address}}, {{rent.city}}, {{rent.country}}</h6>
                  <p class="card-text">{{rent.description}}</p>
                  </div>
                  <div class="details-btn-card">
                      <a class="btn btn-primary" [routerLink]="" id="details">See details</a>
                    </div> 
              </div>
            </div>
          </div>
    </div>
  </div>
  <h3 *ngIf="emptyRentListFilter">There are no rent-a-car services in the system.</h3>
</div>
</div>

<div *ngIf="!filter">
  <div id="main-part" class="container">
    <div class="row" class="center">
      <h3 style="margin-bottom: 25px;">All services.</h3>
    </div>
    <div>
      <app-rent-list></app-rent-list>
    </div>
  </div>
</div>