<section class="section-parallax" data-type="background" data-speed="4">
  <div class="container">
    <div class="row" class="center">
      <div class="d-flex justify-content-center">
      <div class="srcbar">
          <label for="search" class="lbl">Find services</label>
          <input type="text"  (input)='rentName = $event.target.value' id="search" placeholder="Enter location or rent-a-car name" class="unos search">
      </div>
    </div>
      <button class="btn btn-primary" style="margin-top:1%" (click)="onSearch()" [disabled]="!rentName">Search services</button>
      <button class="btn btn-primary" style="margin-top:1%" (click)="onRefresh()">Refresh</button>
  </div>
    
  </div>
</section>



<div *ngIf="filter">
<div id="main-part" class="container">
  <div class="container" *ngIf="rentListFilter">
    <div class="tile" *ngFor="let rent of rentListFilter">
        <div class="row main">
            <div class="left-part-card-rent col-5">
                <div>
                    <h4 class="hotel-name">{{rent.name}}</h4>
                    <h6 class="hotel-address"><i class="fa fa-map-marker"></i> {{rent.address}}, {{ rent.cityDTO.name }}, {{rent.cityDTO.countryDTO.name}}</h6>
                </div>
            </div>  
            <div class="col-4 table-div">
                <div class="description">
                  <p>{{rent.description}}</p>
                </div>
            </div>
            <div class="right-part-card-rent col-2 table-div">
                <div class="btn-see h-100">
                  <a class="btn btn-primary" [routerLink]="['/rent/vehicles/',rent.id]"><span><i class="fa fa-search"></i></span> Search vehicle</a>
                </div> 
            </div>
        </div>
    </div>
  </div>
  <h3 *ngIf="emptyRentListFilter"> There are no results for this search.</h3>
</div>
</div>

<div *ngIf="!filter">
  <div id="main-part" class="container">
    <div class="row" class="center">
      <h3 style="margin-bottom: 25px; text-align: center">All services</h3>
    </div>
    <div>
      <app-rent-list></app-rent-list>
    </div>
  </div>
</div>