.section-parallax {
    text-align: center;
    background: url(/src/img/car.jpg) center repeat fixed;
    padding: 100px 0;
    background-size: cover;
    color: white;
    position: absolute;
    width: 100%;
    height: 52%;
    left: 0;
}

#pretrazi { /* id za dugme pretrage */
    float:right;
    margin: 35px 250px 0px 0px;
}
.center { /* klasa celog reda tj. kontejnera u kojem se nalaze elementi */
    margin-top: 0.8%;
}

#main-part {
    padding-top: 58%;
}