<div class="container">
  <div class="row" id="asd">
    <a routerLinkActive="active" routerLink="/hotel/list">Hoteli</a>
    <a routerLinkActive="active" routerLink="/hotel/admin">Admin</a>
  </div>
</div>

<section id="section-parallax" data-type="background" data-speed="4">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 offset-sm-2">
          <input type="text" id="search" placeholder="Search">
        </div>
      </div>
    </div>
  </section>

<div class="container">
  <div class="row">
      <router-outlet></router-outlet>
  </div>
</div>
