.section-parallax {
    background: url(/src/img/nature.jpg) bottom repeat fixed !important;
}

#main-part {
    margin-top: 42%;
}

#asd {
    padding-left: 40%;
    padding-top: 30px;
    margin-bottom: 50px;
}
#asd a {
    margin-right: 20px;
}

.unos {
    padding: 7px;
    border-top: 1px solid gray;
    border-radius: 5px;
    height: 43px;
}

#search {
    width: 300px;
}

#check-in, #check-out {
    width: 170px;
}

#sobe, #br-gostiju {
    width: 100px;
    height: 44px;
}

#pretrazi {
    float:right;
    margin: 25px 140px 0px 0px;
}
.center {
    margin: 40px 0px;
    text-align: center;
}

input:not(:last-child), select:not(:last-child) {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right: 0px solid;
     
}

select {
    border-left: 0px transparent;
    border-right: 0px transparent;
}

input:not(:first-child), select:not(:first-child) {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left: 0px transparent;
    
}