<div class="container">
    <div class="row">
        <form style="width:100%" (ngSubmit)="onSubmitRoom(f)"  #f="ngForm" *ngIf="usluge">
            <h2>Add fast reservation:</h2>
            <span class="mand">*all fields are mandatory</span>
            <hr>

            <div class="row">
              <div class="form-group col-5">
                <label for="room">Room:</label>
                <select class="form-control" id="room" name="room" ngModel required>
                  <option *ngFor="let s of sobe" [value]="s.id">{{s.name}}</option>
                </select>
              </div>
              <div class="form-group col-5">
                  <label for="discount">Discount:</label>
                  <input type="number" id="discount" name="discount" placeholder="%" min="0" class="form-control" (keydown)="onKeydown($event)" ngModel required>
                </div>
            </div>
         
            <div class="row">
              <div class="form-group col-5">
                <label for="name">Start date:</label>
                <input type="date" id="start" class="form-control" name="start" minDate="danas" [ngModel]="danas" required>
              </div>
              <div class="form-group col-5">
                  <label for="end">End date:</label>
                  <input type="date" id="end" class="form-control" name="end"  minDate="sutra" [ngModel]="sutra" required>
                </div>
            </div>

            <div class="row">
              <div class="form-group uslug">
                <label for="usluge">Additional Services:</label>
                <div class="tabSer">
                    <table class="tabela">
                      <tbody>
                        <tr *ngFor="let ser of usluge">
                          <td><input type="checkbox" value="ser.id" data-md-icheck (change)="serviceIsSelected($event, ser)">{{ser.name}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
              </div>
            </div>
            
            <div class="row ">
              <div class="form-group center-button">
                <button type="submit" class="btn btn-success" [disabled]="!f.valid">Insert</button>
              </div>
            </div>
          </form>
    </div>
  </div>