
          <form (ngSubmit)="onSubmitAdd(f1)" #f1="ngForm">
              <div class="form-group">
                <label for="name">Name: </label>
                <input type="text" ngModel class="form-control" placeholder="Enter name" name="name" required>
              </div>
              <div class="form-group">
                <label for="adress">Adress:</label>
                <input type="text" ngModel class="form-control" placeholder="Adress" name="adress" required>
              </div>
              <div class="form-group">
                <label for="description">Description:</label>
                <input type="text" ngModel class="form-control" name="description" required>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
      
            <hr>

<button (click)="toggleList()">Show services</button>

  <ul *ngIf="show">
  <li *ngFor="let rent of services"> {{ rent.name }} <button (click)="deleteRent(rent.id)">delete</button></li>
  </ul>            