<form (ngSubmit)="onSubmitUser(f1)" #f1="ngForm">
  <h2>Change user authority:</h2>
  <hr>
    <div class="form-group">
      <label for="name">Change to: </label>
      <select name="role" id="role" class="form-control" style="width: 50%; margin-left: 10%; border: 1px solid #ccc;" [(ngModel)]="role">
        <option value="USER">USER</option>
        <option value="AVIO_ADMIN">AVIO_ADMIN</option>
        <option value="HOTEL_ADMIN">HOTEL_ADMIN</option>
        <option value="RENT_ADMIN">RENT_ADMIN</option>
      </select>

      <button type="submit" class="btn btn-success">Submit</button>
    </div>
</form>   
