<div class="container">
  <div class="usluge">
    <div class="leviDiv">
      <h3>Select services:</h3>
      <div class="leviScrollable">
        <div class="tabSer">
            <table class="tabela">
              <thead>
                <tr>
                  <th class="podvucenTH">Select</th>
                  <th class="podvucenTH">Name</th>
                  <th class="podvucenTH">Price</th>
                  <th class="podvucenTH">Discount</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let us of usluge">
                  <td><input type="checkbox" name="us" value="{{us.id}}" data-md-icheck (change)="serviceIsSelected($event, us)"></td>
                  <td>{{us.name}}</td>
                  <td>{{us.price}}€ per {{us.charge}}</td>
                  <td>{{us.discount}} %</td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
    </div>

    <div class="desniDiv">
        <div class="desniScrollable">
            <div class="tabSerGray">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Price</th>
                      <th>Total</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let su of selektovaneUsluge">
                      <td>{{su.name}}</td>
                      <td>{{su.price}}€ per {{su.charge}}</td>
                      <td>{{su.price}}€</td>
                    </tr>
                  </tbody>
                </table>
              </div>
          </div>
    </div>
    <div class="cene">
      <h5>Room price: <span class="floatCene">{{cenaSobe}}€</span></h5>
      <h5>Additional services: <span class="floatCene">{{cenaUsluga}}€</span></h5><hr>
      <h2>TOTAL <span class="floatCene">{{cenaTotal}}€</span></h2>
    </div>
    <div class="btnFinishContinue">
        <button class="btn btn-primary" (click)="onFinishContinue()">Book & See rent-a-car</button>
      </div>
    <div class="btnFinish">
      <button class="btn btn-primary" (click)="onFinishRes()">Book room & finish</button>
    </div>
</div>
