<div class="container">
  <img appLoading *ngIf="!avio">
  <div *ngIf="avio">
    <div class="basic_info">
      <div class="content">
        <div class="naslov">
            <h2>{{avio.name}} </h2>
            <h6><i class="fa fa-map-marker"></i> {{avio.address}}, {{avio.cityDTO.name}}, {{avio.cityDTO.countryDTO.name}}</h6>
        </div>

        <div class="description">
          <h5>Description</h5>
        <p>{{avio.description}}</p>
        </div>
        
        <div class="rating">
          <h5>Rating</h5>
          <span class="rate_circle"></span>
        </div><hr>

        <div class="banner-bar">
          <h5>Destinations</h5>
          <div *ngFor="let country of destCountries, let i = index">
            <p class="country-name" (click)="onToggleCountry(i)"><i
              class="fa fa-arrow-right" aria-hidden="true" 
              [ngClass] = "{'fa-arrow-right':arrows[i] === false,  'fa-arrow-down':arrows[i]  === true }" 
            ></i> {{country.name}}</p>
            <div class="table-responsive" *ngIf="arrows[i]">
                <table class="table" >
                  <tbody>
                    <tr *ngFor="let city of country.cities" >
                      <td>{{ city.name }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
          </div>
        </div>


        <div class="banner-bar">
          <h5 class="pointer" (click)="onToggleFlights()"> Flights with discounted prices </h5>

          <div *ngIf="showFlights">
            <app-flightlist avioId="{{avio.id}}" flightList="[]"></app-flightlist>
            <br>
          </div>
        </div>

        <div class="map" id="mapa" >
          <h5>Location</h5>
          <div *ngIf="map">
            <iframe [src]="map" width="45%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
          <div *ngIf="!map">
            Google map location was not provided
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
