h2 {
    margin-top: 20px;
}

#addhotel {
    float: right;
    margin-top: -20px;
    margin-bottom: 15px;
}

.modal-content {
    width: 40%;
}

td {
    text-align: left; 
    vertical-align: middle;
}

th[scope="row"] {
    vertical-align: middle;
}