<div *ngIf="globalReservation">
    <h1 class="mt-5">Congrats, <span class="bold"> {{globalReservation.frDTO.username}}!</span></h1>
    <h3>Your flights are booked.</h3>
    
    
    <h4 *ngIf="!globalReservation.frDTO.active">Your reservation is completed!</h4>
    
    
    <div class="mt-5" *ngIf="globalReservation.frDTO.active">
        
       

        <a [routerLink]="['/hotels']" class="link">Check out out hotels</a>
        <br>

        <a [routerLink]="['/rent']" class="link">Check out out rent-a-car deals</a>

    </div>
  
</div>





