<div class="container" >
  <br>
    <h3 class="link inline-block" (click)="onToggleEditHotel()" >
        <i
          class="fa fa-arrow-right" aria-hidden="true" 
          [ngClass] = "{'fa-arrow-right':showEditHotel === false,  'fa-arrow-down':showEditHotel  === true }" 
        ></i>
        Hotel information - Edit
    </h3>

    <form (ngSubmit)="onSubmitEditHotel()" [formGroup]="hotelForm" *ngIf="showEditHotel" class="do-animation">
        
        <div class="row">
          <div class="form-group col-8">
            <label>Name: </label>
            <input type="text" class="form-control" formControlName="name" id=name  required>
            <!-- Validation msg -->
            <div *ngIf="name.invalid && (name.dirty || name.touched)"
            class="alert alert-danger">

              <div *ngIf="name.errors.required">
                Name is required.
              </div>
            </div>
          </div>
          <div class="form-group col-2">
              <label for="stars">Stars: </label>
              <select name="stars" id="stars" class="form-control" formControlName="starsNo" style="border-right: 1px solid #ccc; padding-right: 3px;">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
              </select>
            </div>
        </div>
        <div class="row">
          <div class="form-group col-5">
            <label>Address: </label>
            <input type="text" class="form-control" formControlName="address" id=address required>
          </div>

          <div class="form-group col-3">
        
            <label for="countryId">Country:</label>
            <select class="form-control"  id="countryId"
                    required
                    formControlName="countryId" 
                    (change)="onChangeCountry()">
              <option *ngFor="let c of countryList" [value]="c.id">{{c.name}}</option>
            </select>
              
        </div>

          <div class="form-group col-3">
        
            <label for="cityId">City:</label>
            <select class="form-control"  id="cityId"
                    formControlName="cityId" required >
              <option *ngFor="let city of cityList" [value]="city.id">{{city.name}}</option>

            </select>
             <!-- Validation city msg -->
             <div *ngIf="!cityValid"
             class="alert alert-danger">
           
                 City is required.
               
             </div>
          </div>
      </div>

      <div class="row">
          <div class="form-group col-12">
            <label>Image URL: </label>
            <input type="text" class="form-control" formControlName="image" id=image placeholder="http://..." >
          </div>
        </div>

      <div class="row">
        <div class="form-group col-12">
          <label>Adress on map: </label>
          <input type="text" class="form-control" formControlName="map" id=map placeholder="from google maps" >
        </div>
      </div>

      <div class="row">
          <div class="form-group col-12">
            <label for="description">Promo description: </label>
            <textarea type="text" id="description" formControlName="description" placeholder="Hotel description"  class="form-control" rows="4"></textarea>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-12">
            <button type="submit" [disabled]="!hotelForm.valid" class="btn btn-success" >Update</button>
            <button type="button" (click)="onRestoreHotelInfo()" class="btn btn-danger">Restore</button>
          </div>
        </div>
    </form>

  <hr>

  <h3 class="link inline-block" (click)="onToggleServices()">
      <i
        class="fa fa-arrow-right" aria-hidden="true" 
        [ngClass] = "{'fa-arrow-right':showServices === false,  'fa-arrow-down':showServices  === true }" 
      ></i>
      Services
  </h3>
  <button (click)="onNewService()" *ngIf="showServices" class="btn btn-primary new-button"><i class="fa fa-plus-circle"></i> New Service</button>

  <div class="services-container do-animation" *ngIf="showServices">
          <div class="table">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Price</th>
                  <th>Discount</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let serv of hotel.services">
                  <td>{{serv.name}}</td>
                  <td>{{serv.price}}€ per {{serv.charge}}</td>
                  <td>{{serv.discount}} %</td> 
                  <td class="actions">
                    <button (click)="onUpdateService(serv.id)" class="btn btn-link"><i class="fa fa-pencil"></i> Update</button>
                  </td>
                  <td class="actions">
                    <button (click)="onRemoveService(serv.id)" class="btn btn-link"><i class="fa fa-trash"></i> Remove</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
  </div>

  <div class="form-modal" *ngIf="showNewServiceDialog">
      <div class="modal-content">
        <div class="modal-body">
            <button type="button" class="close" (click)="onCloseAddService()">
                <span aria-hidden="true">&times;</span>
              </button>
          <app-add-service hotelId="{{hotel.id}}" (serviceSubmit)="serviceSubmitted($event)"></app-add-service>
        </div>
      </div>
  </div>

    <div class="form-modal" *ngIf="showUpdateServiceDialog">
      <div class="modal-content">
        <div class="modal-body">
            <button type="button" class="close" (click)="onCloseUpdateService()">
                <span aria-hidden="true">&times;</span>
              </button>
          <app-edit-service hotelId="{{hotel.id}}" [servic]=servToEdit (serviceUpdate)="serviceUpdated($event)"></app-edit-service>
        </div>
      </div>
    </div>
  
  <hr>

  <h3 class="link inline-block" (click)="onToggleRooms()" >
      <i
        class="fa fa-arrow-right" aria-hidden="true" 
        [ngClass] = "{'fa-arrow-right':showRooms === false,  'fa-arrow-down':showRooms  === true }" 
      ></i>
      Rooms
  </h3>
  <button (click)="onNewRoom()" *ngIf="showRooms" class="btn btn-primary new-button"><i class="fa fa-plus-circle"></i> New Room</button>
  
  <div class="do-animation" *ngIf="showRooms">
      <div class="table">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Number of beds</th>
                <th>Capacity</th>
                <th>Floor</th>
                <th>Balcony</th>
                <th>Price per night</th>
                <th>Rating</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let room of hotel.rooms">
                <td>{{room.name}}</td>
                <td>{{room.beds}}</td>
                <td>{{room.people_capacity}} persons</td>
                <td>{{room.floor}}</td>
                <td>{{room.balcony}}</td>
                <td>{{room.price}} €</td>
                <td>{{room.rating}}</td>
                <td class="actions">
                    <button (click)="onUpdateRoom(room.id)" class="btn btn-link"><i class="fa fa-pencil"></i> Update</button>
                  </td>
                  <td class="actions">
                    <button (click)="onRemoveRoom(room.id)" class="btn btn-link"><i class="fa fa-trash"></i> Remove</button>
                  </td>
              </tr>
            </tbody>
          </table>
        </div>
  </div>

  <div class="form-modal" *ngIf="showNewRoomDialog">
      <div class="modal-content room-content">
        <div class="modal-body">
            <button type="button" class="close" (click)="onCloseAddRoom()">
                <span aria-hidden="true">&times;</span>
              </button>
          <app-add-room hotelId="{{hotel.id}}" (roomSubmit)="roomSubmitted($event)"></app-add-room>
        </div>
      </div>
  </div>
  
  <div class="form-modal" *ngIf="showUpdateRoomDialog">
    <div class="modal-content room-content">
      <div class="modal-body">
          <button type="button" class="close" (click)="onCloseUpdateRoom()">
              <span aria-hidden="true">&times;</span>
            </button>
        <app-edit-room hotelId="{{hotel.id}}" [roomId]=roomToEdit  (roomUpdate)="roomUpdated($event)"></app-edit-room>
      </div>
    </div>
</div>

  <hr>

  <h3 class="link inline-block" (click)="onToggleFast()">
      <i
        class="fa fa-arrow-right" aria-hidden="true" 
        [ngClass] = "{'fa-arrow-right':showFast === false,  'fa-arrow-down':showFast  === true }" 
      ></i>
      Fast Reservations
  </h3>
  <button (click)="onNewFast()" *ngIf="showFast" class="btn btn-primary new-button"><i class="fa fa-plus-circle"></i> New Fast Reservation</button>
  
  <div class="do-animation" *ngIf="showFast">
      <div class="table">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Start date</th>
                <th>End date</th>
                <th>Discount</th>
                <th>Normal price</th>
                <th>Room</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let fast of fastRes">
                <td>{{fast.start_date}}</td>
                <td>{{fast.end_date}}</td>
                <td>{{fast.discount}} %</td>
                <td>{{fast.room.price}}</td>
                <td>{{fast.room.name}}</td>
              </tr>
            </tbody>
          </table>
        </div>
  </div>

  <div class="form-modal" *ngIf="showAddFastDialog">
    <div class="modal-content room-content">
      <div class="modal-body">
          <button type="button" class="close" (click)="onCloseAddFast()">
              <span aria-hidden="true">&times;</span>
            </button>
        <app-add-fastres hotelId="{{hotel.id}}" (fastSubmit)="fastSubmit($event)"></app-add-fastres>
      </div>
    </div>
  </div>
  
  <hr>

  <h3 class="link inline-block" (click)="onToggleCharts()">
    <i
      class="fa fa-arrow-right" aria-hidden="true" 
      [ngClass] = "{'fa-arrow-right':showCharts === false,  'fa-arrow-down':showCharts  === true }" 
    ></i>
    Visitation and income
  </h3>

</div>